@media (max-width: 480px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .card {
      width: 50vw;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@keyframes slideGrow {
  from {
    transform: translateX(-100%) scale(0.1); 
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1.0);
    opacity: 1;
  }
  }

.background {
  background-color: linear-gradient (135deg hsl(162, 21%, 21%), #066710)
}

.card {
  animation: slideGrow 3s 500ms ease-in-out ;
}

 .card {
 } display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: 
}

.card {
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: lightblue;
}

.cta {
  padding: 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: lightblue;
  color: white;
  font-family: Noteworthy; Optima; Menlo;
  font-size: 20px;
  font-weight: 700;
}

.banner {
  font-family: Avenir; Noteworthy;
  color: white;
  padding: 60px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; 100vw;
  background: linear-gradient(135deg, hsl(162, 93%, 70%), #a4f2ac);
  animation: fadeUp 2s ease-out;
}

.banner__content {
    max-width: 700px;
    padding: 0 5vw;
    font-size: 4vh;
    justify-content: center;
}

.banner p {
    max-width: 350px;
    padding: 0 5 vw;
    font-size: 2.4vh;
    justify-content: center;
}

.banner button {
    background-color:rgb(104, 218, 165)
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: Arial Rounded MT Bold; Cochin;

}

.banner button:hover {
    background-color:rgb(131, 225, 205);
    transform: scale(1.3)
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
flex-wrap: wrap;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(90px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}